# Application
VITE_APP_URL="http://localhost:3000"
VITE_APP_TITLE="Template"

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/template"

# Better Auth (minimum 32 characters, generate with: openssl rand -base64 32)
BETTER_AUTH_SECRET="replace-with-a-random-secret-min-32-chars"

# Optional
NODE_ENV="development"
SERVER_URL="http://localhost:3000"
