node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

.envrc
.env.local
.env.*.local
.env.test

.cursorrules
.cta.json

package-lock.json

*.log
coverage/

.vscode/
.idea/
